branches:
  only:
    # Only build master and version tags
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
    # For Bors:
    - staging
    - trying

language: julia
cache:
  directories:
  - $HOME/.julia/artifacts

env:
  global:
    - PYTHON=""  # Force using Conda in PyCall
script:  # Install dependencies and test with coverage
  - &conda |
    julia -e '
      # Some optional python packages via conda
      using Pkg
      Pkg.add("Conda")
      using Conda
      Conda.add(["blas=*=*netlib", "nomkl", "ase"]; channel="conda-forge")
    '
  - julia -e 'using Pkg; Pkg.build(; verbose=true); Pkg.test(coverage=true)'
after_success: |  # Upload coverage when things are good.
  julia -e '
    using Pkg; Pkg.add("Coverage"); using Coverage;
    coverage = Coveralls.process_folder();
    for excluded in ["src/FourierTransforms.jl", "src/eigen/diag_lobpcg_itsolve.jl"]
        filter!(c -> !occursin(excluded, c.filename), coverage);
    end
    Coveralls.submit(coverage)
  '

os:
  - linux
  - osx
julia: "1.4"

jobs:
  allow_failures:  # Allow to fail on nightly
    - julia: nightly
  include:
    - julia: nightly
      os: linux
    - stage: "Documentation"
      os: linux
      script:
        - |
          julia --project=docs/ -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
            Pkg.build("DFTK")
          '
        - *conda
        - julia --project=docs/ docs/make.jl
      after_success: skip

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/675ffcbb101b5d1a3424
    on_success: always
    on_failure: always
