branches:
  only:
    # Only build master and version tags
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

language: julia

env:
  global:
    - PYTHON=""  # Force using Conda in PyCall
after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              coverage = Coveralls.process_folder();
              filter!(c -> !occursin("src/FourierTransforms.jl", c.filename), coverage);
              filter!(c -> !occursin("src/eigen/diag_lobpcg_itsolve.jl, c.filename), coverage);
              Coveralls.submit(coverage)';

os:
  - linux
  - osx
julia: "1.2"

jobs:
  allow_failures:  # Allow to fail on nightly
    - julia: nightly
  include:
    - julia: nightly
      os: linux
    - stage: "Documentation"
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/675ffcbb101b5d1a3424
    on_success: change
    on_failure: always
