build/
site/
src/examples/*.md
src/examples/*.ipynb
src/guide/tutorial.md
src/guide/tutorial.ipynb
src/guide/input_output.md
src/guide/input_output.ipynb
src/guide/periodic_problems.ipynb
src/guide/periodic_problems.md

