name: CI
on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
  schedule:
    - cron:  '0 4 * * 6'  # Run every Saturday
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.mode }} - ${{ matrix.os }} - ${{ matrix.payload }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {mode: stable,  os: ubuntu-latest,  payload: noslow-example }
          - {mode: stable,  os: macOS-latest,   payload: noslow         }
          - {mode: stable,  os: windows-latest, payload: noslow         }
          - {mode: stable,  os: ubuntu-latest,  payload: noslow-mpi     }
          - {mode: nightly, os: ubuntu-latest,  payload: noslow         }
    env:
      GKS_ENCODING: utf8
      GKSwstype: 100       # Needed for Plots-related tests
      PLOTS_TEST: true     # Needed for Plots-related tests
      DFTK_TEST_NPROCS: 2  # For MPI parallelised tests

    steps:
      - uses: actions/checkout@v4

      - name: Setup Julia stable
        uses: julia-actions/setup-julia@v1
        with:
          version: '1.9'
          arch: x64
        if: ${{ matrix.mode == 'stable' }}
      - name: Setup Julia nightly
        uses: julia-actions/setup-julia@v1
        with:
          version: nightly
          arch: x64
        if: ${{ matrix.mode == 'nightly' }}

      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          DFTK_TEST_ARGS: ${{ matrix.payload }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
